@{
    ViewBag.Title = "Главная";
}
<div class="body">
    <h1>Компания для грузоперевозок в Москве</h1>
    <p class="p">Наша компания осуществляет грузоперевозки в Москве и Московской области уже на протяжении более 15 лет. За это время мы получили множество позитивных отзывов от наших заказчиков и заслужили репутацию надежного помощника при переездах и транспортировке грузов. Мы стремимся, чтобы сотрудничать с нами было выгодно и удобно, поэтому мы постоянно развиваем наши сервисы и поддерживаем наш сайт грузоперевозок в актуальном состоянии!</p>

    <h2>Решаем ваши задачи</h2>

    <table class="t">
        <tr>
            <td class="tdHeader">Грузоперевозки <hr align="left" width="80px" color="gold" /></td>
            <td class="tdHeader">Доставка до клиента <hr align="left" width="80px" color="gold" /></td>
            <td class="tdHeader">Грузовое такси <hr align="left" width="80px" color="gold" /></td>
        </tr>
        <tr>
            <td class="tdText"><p>Доставляем грузы любых размеров точно в срок, от двери до двери.</p></td>
            <td class="tdText"><p>Передаем груз в руки клиенту, без опозданий и форс-мажоров.</p></td>
            <td class="tdText"><p>Выполняем срочные заказы. Документы, договор, оплата – потом, после доставки.</p></td>
        </tr>
        <tr>
            <td class="tdHeader">Междугородние перевозки <hr align="left" width="80px" color="gold" /></td>
            <td class="tdHeader">Такелажные работы <hr align="left" width="80px" color="gold" /></td>
            <td class="tdHeader">Крупногабаритные грузы <hr align="left" width="80px" color="gold" /></td>
        </tr>
        <tr>
            <td class="tdText"><p>Отправляем рейсы в любую точку России, со страховкой и экспедитором.</p></td>
            <td class="tdText"><p>Загружаем и разгружаем тяжелый, специфичный груз с применением спецтехники.</p></td>
            <td class="tdText"><p>Транспортируем нестандартные, сложные грузы без каких-либо последствий.</p></td>
        </tr>
    </table>

    <p class="p">Это лишь малая толика преимуществ компании грузоперевозок «Transport Company». Каждый день сотни человек выбирают нашу компанию, и заказывают грузоперевозки на нашем сайте или по телефону, воспользовавшись услугами колл-центра. Мы надеемся, что Вы тоже станете одним из наших уважаемых заказчиков!</p>

    <div class="image">
        <img class="displayed" src="//static.gazelkin.com/uploads/content/f6/5e/8adeb1bbee476957.jpeg">
        <h3 id="imgHeader">Личный менеджер</h3>
        <p class="imageText">Каждому клиенту нашей компании грузоперевозок назначается персональный менеджер. Это значит, что Вам не придется долго ждать ответа оператора и повторно описывать Вашу ситуацию при звонке в колл-центр. Вы всегда сможете обратиться к назначенному Вам специалисту, если у Вас возникнут любые вопросы в течение всего времени исполнения заказа.</p>
    </div>
</div>
<div>
</div>
